@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --default-color: #1b4d6b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollable {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--default-color) var(--background);
}

.scrollable::-webkit-scrollbar {
  width: 0.25em;
}

.scrollable::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: var(--default-color);
  border-radius: 10px;
}

